@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Open Sans";
    src: url("/src/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("ttf"),
    url("/src/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
}

.my-container{
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen(md) {
    .my-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

html {
    @apply font-openSans;
}

h1 {
    @apply text-lg md:text-2xl font-semibold md:font-normal;
}

.active {
    @apply text-white bg-blue shadow-[0_2px_4px_rgba(0,0,0,0.25)];
}

li {
    @apply text-semi-black;
}